/*General*/
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(2, 2, 2);
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

/*Nav*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: #f38200;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.contenedor {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 8rem;
}

.menu-icons {
    color: #eee;
    font-size: 10rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}


.logo {
    width: 15rem;
    height: 7rem;
    background-color: #ffff;
    border-radius: 50%;    display: flex;
}

.logo img {
    width: 12rem;
    margin: auto;
}

.nav-list {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-list li {
    line-height: 8rem;
    position: relative;
}

.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 2rem;
}

.nav-list a:hover {
    text-decoration: underline;
}

.sub-menu {
    text-align: justify;
    width: 30rem;
    display: block;
    position: absolute;
    border-top: 4px solid #000;
    background-color: #f38200;
    border-bottom: 4px solid #000;
    z-index: 2;
    top: 12rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu:before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #000000;
}

.nav-list li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
}

.sub-menu li a {
    padding: 1rem;
}

.sub-menu li:hover a {
    background-color: #ffa743;
    text-decoration: none;
}

.nav-list li:hover>.sub-menu {
    top: 6rem;
}


/*Secciones*/
.contenedor-slide {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slideshow {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.slideshow-items {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleimages 31s infinite;
}

.slideshow-items img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 1;
    animation: zoom 31s infinite;
}

/*Delay*/
.slideshow-items:nth-child(1),
.slideshow-items:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-items:nth-child(2),
.slideshow-items:nth-child(2) img {
    animation-delay: 10s;
}

.slideshow-items:nth-child(3),
.slideshow-items:nth-child(3) img {
    animation-delay: 20s;
}


.slideshow-item-text {
    border-left: 8px solid #f38200;
    z-index: 1;
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(000, 000, 000, .8);
    color: #eee;
    padding: 4em 4rem;
}

.slideshow-item-text h5 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}

.slideshow-item-text > p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.serv{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 4px solid #f38200;
    font-size: 3rem !important
}

/*¨Keyframes*/

@keyframes cycleimages {
    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}

@keyframes zoom {
    25% {
        transform: scale(1.1);
    }
}

/*Footeer*/

footer {
    background-color: #313131;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.24);
}

.contenedor-foo {
    text-align: center;
}

.contenedor-foo h4 {
    font-size: 2rem;
    color: #fff;
    border-bottom: 3px solid #f38200;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor-foo p {
    font-size: 1.5rem;
    color: #fff;
}

.titulo-final {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/*Mediaquieries*/

@media screen and (max-width: 1000px) {
    .contenedor-slide {
        width: 100%;
    }

    .slideshow-item-text {
        max-width: 70%;
        padding: 5rem 1rem;
    }

    .slideshow-item-text h5 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .contenedor-slide {
        width: 100%;
    }

    .slideshow-item-text {
        border: none;
        border-bottom: 8px solid #f38200;
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5 {
        text-align: center;
        font-size: 3rem;
    }

    .slideshow-item-text p {
        font-size: 1.4rem;
    }
    
  
    .logo{
        width: 13rem;
    }
    .nav-list {
        display: none;
        justify-content: start;
        align-items: initial;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #f38200;
        z-index: 2;
        overflow-y: scroll;
    }

    .nav-list>li {
        top: 8rem;
        line-height: 6rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: #000;
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before {
        display: none;
    }
    
    .nav-list li:hover>.sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .menu-icons {
        display: block;
        justify-content: start;
        align-items: initial;
        z-index: 10;
        display: inline-block;
        font-size: 4rem;
    }
    .ion-md-close{
        display: none;
    }


    nav.active .ion-md-close{
        display: block;
    }

    nav.active .ion-md-menu{
        display: none;
    }

    nav.active .nav-list{
        display: flex;
    }
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .contenedor-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor-foo h4 {
        border: none;
    }

    .contenedor-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
  
}

/*Menu mediaQ*/